

body{
    background-color: #750606;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

h1 {
    color:aliceblue;
    font-size: 4rem;
    padding-bottom: 50px;
    padding-top: 50px;
}

.column{
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: #8f2828;
    border-radius: 50px;
}

button{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px 20px 20px 20px;
    font-size: 2rem;
    margin-left: 50px;
}

.h1{
    color: rgb(147, 24, 118);
}


